# Importar Pandas

In [1]:
#importa pandas
import pandas as pd

# Crear una Serie

In [2]:
# Crea una Serie de los numeros 10, 20 and 10.

pd.DataFrame([10, 20, 10])

    0
0  10
1  20
2  10

In [ ]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
pd.DataFrame(["rojo", "verde", "azul"])

# Crear un Dataframe

In [ ]:
# Crea un dataframe vacío llamado 'df'

In [ ]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado

In [ ]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado

# Leer un dataframe

In [1]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"

# Inspeccionar un dataframe

In [3]:
# Muestra las primeras 5 filas del DataFrame.

In [5]:
# Muestra las primeras 10 filas del DataFrame.

In [6]:
# Muestra las últimas 5 filas del DataFrame.

# Tamaño del DataFrame

In [7]:
# Muestra el tamaño del DataFrame

# Data types en un DataFrame

In [8]:
# Muestra los data types del dataframe

# Editar el indice (index)

In [9]:
# Cambia el indice a la columna "fecha_inicio".

# Ordenar el indice

In [10]:
# Ordena el índice de forma descendiente

# Resetear el indice

In [11]:
# Resetea el índice